body {
    background-image: url("https://thumbs.gfycat.com/AnimatedDeficientAlleycat-size_restricted.gif");
    background-size: cover;
    margin:0;
}

div {

    margin:auto;
    width:90%;
    text-align: center;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:24px;
    line-height: 250%;
}

img {
    border:10px ridge rgb(7, 80, 114);
    box-shadow: 3px 3px 2px grey;
}

h2 {
    font-size: 54px;
    color: white;
    text-shadow: 2px 2px 2px grey;
}

p {
    color: white;
    font-style: italic;
    font-size:36px;
    text-shadow: 2px 2px 2px grey;
}